@using Volo.Abp.AspNetCore.Components.Web.BasicTheme.Themes.Basic
@using web_backend.Blazor.Client.Services

<Router AppAssembly="@typeof(Program).Assembly">
    <Found Context="routeData">
        <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
    </Found>
    <NotFound>
        <LayoutView Layout="@typeof(MainLayout)">
            <div class="alert alert-warning">
                <h3>Page Not Found</h3>
                <p>Sorry, there's nothing at this address.</p>
            </div>
        </LayoutView>
    </NotFound>
</Router>