@inherits LayoutComponentBase
@using Microsoft.AspNetCore.Components.Authorization
@using web_backend.Livestreams
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject NavigationManager NavigationManager
@inject ILivestreamAppService LivestreamService
@using web_backend.Enums;

<HeadContent>
    <script src="https://cdn.jsdelivr.net/npm/hls.js@latest"></script>
    <script src="js/hlsPlayer.js"></script>
</HeadContent>


<div class="vss-page">
    <header class="vss-header navbar navbar-expand-lg">
        <!-- Logo -->
        <a class="vss-header__logo navbar-brand" href="/">
            <img src="/images/varsitylogoempty.jpg" alt="VSS Company Header Logo" width="120" />
        </a>

        <!-- Navbar Toggler for Mobile View -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#vssNavbar" aria-controls="vssNavbar" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Navigation Bar with Links and Dropdowns -->
        <nav class="collapse navbar-collapse vss-header" id="vssNavbar">
            <ul class="vss-nav navbar-nav me-auto mb-2 mb-lg-0">
                <li class="vss-nav__item nav-item">
                    <a class="vss-nav__link nav-link" href="/">
                        Home
                        <svg><rect x="0" y="0" width="100%" height="100%"></rect></svg>
                    </a>
                </li>

                <li class="vss-nav__item nav-item">
                    @if (activeLivestream != null)
                    {
                        <a class="vss-nav__link nav-link" href="@($"/livestream/{activeLivestream.Id}")">
                            Livestreams
                            <svg><rect x="0" y="0" width="100%" height="100%"></rect></svg>
                        </a>
                    }
                    else
                    {
                        <a class="vss-nav__link nav-link disabled" href="#">
                            Livestreams
                            <svg><rect x="0" y="0" width="100%" height="100%"></rect></svg>
                        </a>
                    }
                </li>

                <li class="vss-nav__item nav-item">
                    <a class="vss-nav__link nav-link" href="/schedule">
                        Sport Schedules
                        <svg><rect x="0" y="0" width="100%" height="100%"></rect></svg>
                    </a>
                </li>
                <li class="vss-nav__item nav-item">
                    <a class="vss-nav__link nav-link" href="/contact">
                        Contact Us
                        <svg><rect x="0" y="0" width="100%" height="100%"></rect></svg>
                    </a>
                </li>

                @if (authState != null && authState.User.IsInRole("admin"))
                {
                    <li class="vss-nav__item nav-item dropdown">
                        <a class="vss-nav__link nav-link dropdown-toggle" href="#" id="adminDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Admin
                            <svg><rect x="0" y="0" width="100%" height="100%"></rect></svg>
                        </a>
                        <ul class="vss-dropdown dropdown-menu" aria-labelledby="adminDropdown">
                            <li class="vss-dropdown__item">
                                <a class="vss-dropdown__link dropdown-item" href="/admin/teams">
                                    Manage Teams
                                </a>
                            </li>
                            <li class="vss-dropdown__item">
                                <a class="vss-dropdown__link dropdown-item" href="/admin/gametimes">
                                    Edit Schedule
                                </a>
                            </li>
                            <li class="vss-dropdown__item">
                                <a class="vss-dropdown__link dropdown-item" href="/admin/scores">
                                    Update Scores
                                </a>
                            </li>
                        </ul>
                    </li>
                }
            </ul>

            <div class="vss-auth d-flex">
                @if (authState == null)
                {
                    <span class="vss-auth__username navbar-text me-3">Loading...</span>
                }
                else if (authState.User.Identity?.IsAuthenticated ?? false)
                {
                    <span class="vss-auth__username navbar-text me-3">Hello, @authState.User.Identity.Name</span>
                    <a class="vss-auth__link nav-link" href="/Account/Logout">Logout</a>
                }
                else
                {
                    <a class="vss-auth__button btn me-3" href="/authentication/Login">
                        Login
                        <svg><rect x="0" y="0" width="100%" height="100%"></rect></svg>
                    </a>
                    <a class="vss-auth__button btn" href="/Account/Register">
                        Register
                        <svg><rect x="0" y="0" width="100%" height="100%"></rect></svg>
                    </a>
                }
            </div>
        </nav>
    </header>

    <!-- Main Content Area -->
    <main class="vss-main">
        @Body
    </main>
</div>

@code {
    private AuthenticationState authState;
    private LivestreamDto activeLivestream;

    protected override async Task OnInitializedAsync()
    {
        authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();

        var livestreams = await LivestreamService.GetListAsync();
        activeLivestream = livestreams.FirstOrDefault(l => l.StreamStatus == StreamStatus.Live);
    }
}
