@page
@model web_backend.HttpApi.Host.Pages.Account.ConfirmEmailModel;
@{
    ViewData["Title"] = "Email Confirmation";
}

<h2>Email Confirmation</h2>
<p>@Model.StatusMessage</p>
<a class="btn btn-primary mt-3 vss-submit-button" href="https://salmon-glacier-08dca301e.6.azurestaticapps.net/landing">Home</a>