@page "/livestream/{Id:guid}"
@inherits LiveStreamBase

<div class="vss-page">
    <header class="vss-header">
        <h1 class="vss-header__title">@StreamTitle</h1>
    </header>

    <main class="vss-main">
        <div class="vss-video-container">
            <video id="videoPlayer" class="vss-video-player" controls autoplay></video>

            <div class="vss-video-title">
                <h2>@StreamTitle</h2>
            </div>
        </div>
    </main>
</div>

@code {
    private bool hasLoadedVideo;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        // Whenever VideoUrl becomes non-empty and we've not yet loaded it, call the JS method
        if (!hasLoadedVideo && !string.IsNullOrEmpty(VideoUrl))
        {
            hasLoadedVideo = true;
            Console.WriteLine($"Automatically loading video: {VideoUrl}");
            await JS.InvokeVoidAsync("loadHlsStream", VideoUrl);
        }
    }

    [Inject] private IJSRuntime JS { get; set; }
}
