@page "/subscribe"
@inject NavigationManager Navigation

<h3>Subscribe to Premium</h3>

<div class="product">
    <div class="description">
        <h4>Test Subscription</h4>
        <h5>$20.00 / month</h5>
    </div>
</div>

<button @onclick="CreateCheckoutSession">Checkout</button>

@code {
    private async Task CreateCheckoutSession()
    {
        using var http = new HttpClient { BaseAddress = new Uri(Navigation.BaseUri) };
        var response = await http.PostAsync("https://localhost:44356/api/app/stripe-subscription/checkout-session", null);

        if (response.IsSuccessStatusCode)
        {
            var checkoutUrl = await response.Content.ReadAsStringAsync();
            Navigation.NavigateTo(checkoutUrl, forceLoad: true);
        }
        else
        {
            Console.WriteLine("Error creating session");
        }
    }
}
